*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footerDown{
    bottom: 0;
    width: 100%;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    height: 35px;
    color: black;
    p{
    display: flex;
    font-size: 14px;
    word-spacing: 3px;
    text-transform: capitalize;
    justify-content: center;
    } 
}

