*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color: rgb(44, 42, 42);
    color: white;
    width: 100vw;
}

.footer-medias{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-medias li a{
    color: inherit;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-medias li a:hover{
    color: orange;
    cursor: pointer;
}



